// original green color theme
// $primary: #019aa8 !default; //top header
// $primaryDark: #00737e !default;

// blue color theme
$primary: #42a5f5 !default;
$primaryDark: #0288d1 !default;
$primaryDarker: #0d8bf2 !default;

$secondary: #717171 !default;
$secondary-inactive: rgba(113, 113, 113, 0.5) !default;
$darkBlue: #0a2540 !default;

$grey100: #f5f6f9;
$grey200: #edf2f7;
$grey300: #ececec;
$grey400: #cbd5e0;
$grey500: #a0aec0;
$grey600: #718096;
$grey700: #4a5568;
$grey800: #2d3748;
$grey900: #1a202c;

$lightGrey: #f1f1f1;

$site-max-width: 1366px;
